.end-user-license-agreement-container {
    padding: 15px;
    margin: 15px;
}

.logo {
    max-width: 100%;
    height: 250px;
    width: 700px;
    aspect-ratio: 3.16;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    align-self: center;
}