.quadrant-title h4 {
    position: relative;
    font: normal bold 3.5lvw/1.25 'PT Serif';
    letter-spacing: 2.5px;
    top: 40px;
    width: fit-content;
    margin: 0;
    padding: 5px;
    margin-left:25px;
    margin-right: 25px;
    border-radius: 20px;
}

@media (max-width: 961px) {
    .services-container-v3 > div {
        position: absolute;
        width: 50%;
        height: 50%;
        overflow: hidden;
        transition: 0.5s;
        z-index: 0;
    }

    .mission-hero-button-container {
        justify-self: center;
    }

    .our-partners-container-v2 {
        display: grid;

    }

    .home-page-separator {
        width: 90%;
        margin-bottom: 30px;
    }

    .quadrant-title h4 {
        padding: 20px;
        margin: 0;
    }

    .our-partners-content {
        display: grid;
    }

    .home-page-image-container {
        display: none;
    }

    .mobile-parallax {
        /* The image used */
        background-image: url("../assets/2024_NewsletterTemplate-1pg-1-transformed.png");

        /* Set a specific height */
        height: 300px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .mission-statement-v2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        border-radius: 10%;
        background-color: #A87FB9;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        color: white;
      }

    .home-page-cta {
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: space-evenly;
        z-index: -20;
    }

    .about-us-container {
        display: grid;
        grid-template-rows: 50% 1fr;
        grid-template-columns: 1fr;
        padding-bottom: 40px;
    }
    .about-us-content {
        padding: 10px 8%;
    }
    .mission-hero {
        background-color: #A87FB9;
        height: 85vh;
        gap: 75px;
    }
    .mission-statement-v2 {
        font: 800 24px "Nunito Sans";
    }
}

@media (min-width: 962px) {
    .services-container-v3 > div {
        position: absolute;
        width: 50%;
        height: 50%;
        overflow: hidden;
        transition: 0.5s;
        z-index: 0;
    }

    .mission-statement-v2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background-color: #A87FB9;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        color: white;
      }

    .services-container-v3 > div.active{
        width: 100%;
        height: 100%;
        z-index:1000!important;
    }

 

    .our-partners-container-v2 {
        padding: 8rem 6rem;
        margin-top: 20rem;

    }

    .home-page-separator {
        width: 50%;
    }

    .our-partners-content {
        display: flex;
    }

    .home-page-cta {
        display: grid;
        grid-template-columns: 30lvw 1fr 30lvw;
        justify-content: space-evenly;
        z-index: -20;
    }

    .home-page-image-container>img {
        width: 300px;
        height: auto;
    }

    .mobile-parallax {
        display: none;
    }


    .about-us-container {
        margin: 6rem 5rem;
        display: grid;
        grid-template-columns: 50% 1fr;
        grid-template-rows: auto;
    }

    .mission-hero {
        gap: 100px;
    }
    .mission-statement-v2 {
        font: 400 19px "Nunito Sans";
    }
}

.about-us-button-v2 {
    background-color: #A87FB9;
    border: none;
    color: white;
    padding: 1.4rem 2.25rem;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    font-size: 1.3rem;
    font-weight: 500;
}
.about-us-heading {
    display: block;
    font: 35px "Crimson Text", serif;
    margin: 35px 0;
}

.about-us-photo {
    justify-self: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 1.5;
}

.about-us-content {
    padding: 0 8%;
    align-self: center;
    justify-content: center;
    box-sizing: inherit;
    height: auto;
}

.services-container-v3 {
    background-color: #5FBBFF;
    position: relative;
    display: inline-block;
    justify-content: center;
    color: #FFFFFF;
    width: 100%;
    height: 522px;
    /* box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.5); */
    margin-top: 120px;
    padding: 0px;
}

.our-services-container-v2 {
    background-color: #A87FB9;
    height: 300px;
    margin-top: 15rem;
}

.our-partners-container-v2 {
    background-color: #ADD58D;
}

.our-partners-content {
    gap: 6rem;
    padding-top: 4rem;
    justify-content: center;
}

.our-partners-heading {
    font-size: 4rem;
    text-align: center;
    font-weight: lighter;
    margin: 3rem;
}

.home-page-separator {
    height: 2px;
    margin-top: 10px;
    background-color: #13263A;
    border: none;
}

img.partner-logo {
    width: 37lvw;
    height: 37lvw;
    cursor: pointer;
}

a>img.partner-logo:hover {
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.5);
}

@media (min-width: 1376px) {
    .mission-hero {
        display: flex;
    }


}

@media (max-width: 1375px ) {
    .mission-hero {
        display: grid;
    }

    .mission-statement-container-v2 {
        width: 100%;
        justify-self: center;
        padding-bottom: 50px;
    }

    .mission-statement-v2 {
        align-items: center;
    }
}

.home-page-content {
    display: block;
    justify-content: center;
}

.mission-statement-container-v2 {
    height: 100%;
    overflow: visible;
    display: flex;
    justify-self: center;
}

.mission-hero {
    white-space: break-spaces;
}

.mission-hero-button {
    background-color: #5FBBFF;
    border-radius: 50px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    font: 400 19px "Nunito Sans";
    height: 80px;
    color: white;
    cursor: pointer;
}

.mission-hero-button a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.mission-hero-button-container {
    display: flex;
    align-self: center;
    gap: 20px;
    padding: 20px;
    align-items: center;
    text-decoration: none;
    height: fit-content;
}

.mission-hero-button:hover {
    opacity: 0.70;
}



#topLeft {
    top: 0;
    left: 0;
    background-color: #5FBBFF;
    border: #FFFFFF;
    border-style: solid;

}
#topRight {
    top: 0;
    right: 0;
    background-color: #5FBBFF;
    border-left: #FFFFFF;
    border-bottom: none;
    border-style: solid;

}

#bottomLeft {
    bottom: 0;
    left: 0;
    background-color: #5FBBFF;

    border-top: #FFFFFF;
    border-style: solid;
    
}

#bottomRight {
    bottom: 0;
    right: 0;
    background-color: #5FBBFF;
    border-left: #FFFFFF;
    border-style: solid;

}

.active .more-info-wrapper {
    top: 0;
    bottom: unset;
    rotate: 45deg;
    transition: 2s ease;
}

.more-info-wrapper {
    fill: #FFFFFF;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
    cursor: pointer;
}

.quadrant-top {
    width: 100%;
    height: 100%;
}

.quadrant-bottom {
    display: none;
}

.active > .quadrant-top {
    height: 50%;
}

.active > .quadrant-bottom {
    display: block;
    height: 50%;
    width: 100%;
    background-color: #EFEFEF;
    color: #000000;
}

.quadrant-title {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 149px 149px;
    height: 150px;
}



.mySlides {
    display: none
}
img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}