.shop-page-title {
    font: 72px "Crimson Text", serif;
    text-align: center;
    padding: 50px 60px 55px;
    align-self: stretch;
    margin-top: 30px;
    margin-bottom: 0px;
    color: #13263A;
}

.shop-page-content > p {
    font: 16.8px "Nunito Sans", sans-serif;
    margin-left: 20rem;
}